:root {
    --cell-width: 200px;
    --cell-height: 200px;
}

#board {
    /*height: 100svh;*/
    display: grid;
    grid-template: repeat(3, var(--cell-width)) / repeat(3, var(--cell-height));
    justify-content: center;
    align-content: center;
}

.cell {
    display: flex;
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: 80px;
    border: solid red;
    justify-content: center;
    align-items: center;
}

#active-player {
    text-align: center;
    font-size: 100px;
}